<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ end }}
  <h4 class="mb-3">
    
    {{ if eq .Title "Wiring Standards Guide"}}
      <a href="https://docs.google.com/document/d/1MMJNG4ov8Jm6QuxrWr6CTGRPiAC9WTwaJ4OW3hMKVWg/edit" target="_blank">
    {{ else if eq .Title "The Ultimate Guide to Fabrication"}}
      <a href="https://docs.google.com/document/d/1Oy_3QWOhqsYMvq1s7rDYQ2UQBlAW6qrXPpb4xCdHqiE/edit#heading=h.50u220oorhb5" target="_blank">
    {{ else if eq .Title "Ethan's Evil Overall Safety Exam"}}
      <a href="https://docs.google.com/document/d/1Z5gf0r7vA2E1lzERihNbie8FkoX9COYB8ZGp9nTCUYk/edit" target="_blank">
    {{ else if eq .Title "Safety Binder"}}
      <a href="https://docs.google.com/document/d/1fB1f_MQwKfppR940F415v0GSdawCXKVMGMDDeyO6Lu0/edit#heading=h.1a21zntxql6e" target="_blank">
    {{ else if eq .Title "Scouting Bible (Old Testament)"}}
      <a href="https://docs.google.com/document/d/1zWG1RRCmsaxVtvgbVt9CJnuBcYOAeVIOb-3ORVdQ9L8/edit" target="_blank">
    {{ else if eq .Title "Scouting Bible (New Testament)"}}
      <a href="https://docs.google.com/document/d/1suHLUyOcWQudMYPLoeQoXU4wFiUw0XM1-Kq75oR1U58/edit" target="_blank">
    {{ else if eq .Title "The Legendary CNC"}}
      <a href="https://docs.google.com/document/d/1Oy_3QWOhqsYMvq1s7rDYQ2UQBlAW6qrXPpb4xCdHqiE/edit#heading=h.63vmicud8jeh" target="_blank">
    {{ else }}
      <a href="{{ .RelPermalink }}">
    {{ end }}
      {{ .Title }}
                  </a>
                </a>
              </a>
            </a>
          </a>
        </a>
      </a>
    </a>
  </h4>
  {{ $categories:= .Params.categories }}
  {{ if $categories }}
    <ul class="mb-4">
      <li class="mr-0 inline-block">
        <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        </a>
      </li>
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-folder mr-1"></i>
        {{ range $i,$p:= $categories }}
          <a
            href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
            class="ms-1"
            >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
              {{ "," }}
            {{ end }}
          </a>
        {{ end }}
      </li>
    </ul>
  {{ end }}
  <p class="mb-6">{{ .Summary }}</p>
</div>
